<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <meta content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</head>

<body>
<form>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="inputEmail4">账号</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="inputPassword4">密码</label>
            <input type="password" class="form-control" id="inputPassword4">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">登录</button>
</form>
</body>
</html>