<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <meta name="keywords" content="装企通"/>
    <meta name="description" content="装企通"/>
    <meta content="text/html;charset=utf-8"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
<div id="app"></div>

<div class="container">
    <h6>登录页面</h6>
    <input type="input">账号:</input>
    <input type="input">密码:</input>
</div>
</body>
</html>